*{
  box-sizing: border-box;
}
body{
  background-color: blanchedalmond;
  margin:0;
  padding:20px;
}
h1{
  font-family: "Droid Sans Mono Slashed", cursive;
  text-align: center;
  margin-bottom: 15px;
  font-size: 175%;
  text-transform:uppercase;
}
div{
  border: 1px solid black;
  color:white;
  float: right;
  padding: 50px 15px 15px 15px;
  position: relative;
  margin: 5px;
}
#first{
  font-family: "Droid Sans Mono Slashed", cursive;
  color: black;
  background-color: aquamarine;
}
#second{
  font-family: "Apple Color Emoji", monospace;
  background-color: purple;
}
#third{
  font-family: "Corbel Light", sans-serif;
  background-color: chocolate;
}
#title1, #title2, #title3{
  font-size: 125%;
  font-family: "Droid Sans Mono Slashed", cursive;
  border: 1px solid black;
  background-color: green;
  color: white;
  float: right;
  width: 125px;
  height: 30px;
  top:-1px;
  right:0;
  position: absolute;
  text-align: center;
}
#title1{
  background-color: blue;
}
#title2{
  background-color: cyan;
  color: black;
}
@media (min-width: 992px) {
  .col-lg-4{
    width: 32%;
  }
}
@media (min-width:768px) and (max-width: 992px){
  #first{
    width: 50%;
  }
  #second{
    width: 50%;
  }
  #third{
    width: 98%;
  }
}
@media (max-width: 768px) {
  .col-lg-4{
    width: 98%;
  }
}
